.card {
    border-radius: 8px;
    width: 320px;
    margin: 2rem 20px;
    box-shadow: aqua 0px 1px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover {
  transform: scale(1.05);
}
.img {
    width: 320px;
    height: 300px;
    border-radius: 8px;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 20px;
}
.description{
    font-size: 1rem;
    margin: 0.5rem 20px;
}
.price{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 20px;
    margin: 20px;
}
